
<footer>
    <div class="footerv2-w3ls">
        <div class="footer-w3lagile-innerr">
            <!-- footer-top -->
            <div class="container-fluid">
                <div class="row  footer-v2grids w3-agileits" style="padding: 4rem 1rem;">
                    <!-- services -->
                    <div class="col-lg-2 col-sm-6 footer-v2grid">
                        <h4>Hỗ trợ</h4>
                        <ul>

                            <li>
                                <a href="payment.html">Thanh toán & Vận chuyển</a>
                            </li>
                            <li>
                                <a href="#">Chính sách đổi trả</a>
                            </li>
                            <li>
                                <a href="#">Chính sách bảo mật</a>
                            </li>
                            <li>
                                <a href="faq.html">Hướng dẫn mua hàng</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //services -->
                    <!-- latest posts -->
                    <div class="col-lg-3 col-sm-6 footer-v2grid mt-sm-0 mt-5">
                        <h4>Bài viết mới nhất</h4>
                        <div class="footer-v2grid1 row" style="margin-top:20px">
                            <div class="col-4 footer-v2grid1-left">
                                <a href="blog.html">
                                    <img src="~/Assets/client/images/bl2.jpg" alt=" " class="img-fluid">
                                </a>
                            </div>
                            <div class="col-8 footer-v2grid1-right p-0">
                                <a href="blog.html">Hướng dẫn cách đọc thành phầnn mỹ phẩm  chính xác nhất</a>
                            </div>
                        </div>
                        <div class="footer-v2grid1 row my-2">
                            <div class="col-4 footer-v2grid1-left">
                                <a href="blog.html">
                                    <img src="~/Assets/client/images/bl1.jpg" alt=" " class="img-fluid">
                                </a>
                            </div>
                            <div class="col-8 footer-v2grid1-right p-0">
                                <a href="blog.html">
                                    Mỹ phẩm truyền thông đang chinh phục giới trẻ như thế nào?
                                </a>
                            </div>
                        </div>
                        <div class="footer-v2grid1 row">
                            <div class="col-4 footer-v2grid1-left">
                                <a href="blog.html">
                                    <img src="~/Assets/client/images/bl3.jpg" alt=" " class="img-fluid">
                                </a>
                            </div>
                            <div class="col-8 footer-v2grid1-right p-0">
                                <a href="blog.html">3 sản phẩm trang điểm không thể thiếu trong dịp hè nóng bỏng này</a>
                            </div>
                        </div>

                    </div>
                    <!-- //latest posts -->
                    <!-- locations -->
                    <div class="col-lg-2 col-sm-6 footer-v2grid my-lg-0 my-5">
                        <h4>Vị trí văn phòng</h4>
                        <ul>
                            <li>
                                <a href="#">Đại học Sư Phạm kỹ thuật</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //locations -->
                    <!-- flickr posts -->
                    <div class="col-lg-3 col-sm-6 footer-v2grid my-lg-0 my-sm-5">
                        <h4>Theo  dõi chúng tôi</h4>
                        <ul class="social-iconsv2 agileinfo">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- //flickr posts -->
                    <!-- popular tags -->
                    <div class="col-lg-2  footer-v2grid mt-sm-0 mt-5">
                        <h4>Tags phổ biến</h4>
                        <ul class="w3-tag2">
                            <li>
                                <a href="shop.html">suaruamat</a>
                            </li>
                            <li>
                                <a href="men.html">kemchongnang</a>
                            </li>
                            <li>
                                <a href="shop.html">kemduongda </a>
                            </li>
                            <li>
                                <a href="boys.html">serum</a>
                            </li>
                            <li>
                                <a href="shop.html">mask</a>
                            </li>
                            <li>
                                <a href="women.html">myphamchinhhang</a>
                            </li>
                            
                           
                        </ul>
                    </div>
                    <!-- //popular tags -->
                </div>
            </div>
            <!-- //footer-top -->
            @*<div class="footer-bottomv2 py-5" style="padding-bottom: 0.1rem !important;padding-top: 0.1rem !important;">
                <div class="container">
                    <ul class="bottom-links-agile">
                        <li>
                            <a href="index.html">Trang chủ</a>
                        </li>
                        <li>
                            <a href="about.html">Về chúng tôi</a>
                        </li>
                        <li>
                            <a href="shop.html">Tin tức</a>
                        </li>
                        <li>
                            <a href="contact.html">Liên hệ</a>
                        </li>

                    </ul>
                    <h3 class="text-center follow">Theo dõi chúng tôi</h3>
                    <ul class="social-iconsv2 agileinfo">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>*@
        </div>
        <div class="container-fluid py-5 footer-copy_w3ls">
            <div class="d-lg-flex justify-content-between">
                <div class="mt-2 sub-some align-self-lg-center">
                    <h5>Phương thức thanh toán</h5>
                    <ul class="mt-4">
                        <li class="list-inline-item">
                            <img src="~/Assets/client/images/pay2.png" alt="">
                        </li>
                        <li class="list-inline-item">
                            <img src="~/Assets/client/images/pay5.png" alt="">
                        </li>
                        <li class="list-inline-item">
                            <img src="~/Assets/client/images/pay3.png" alt="">
                        </li>
                        <li class="list-inline-item">
                            <img src="~/Assets/client/images/pay7.png" alt="">
                        </li>
                        <li class="list-inline-item">
                            <img src="~/Assets/client/images/pay8.png" alt="">
                        </li>
                        <li class="list-inline-item ">
                            <img src="~/Assets/client/images/pay9.png" alt="">
                        </li>
                    </ul>
                </div>
                <div class="cpy-right align-self-center">
                    <h2 class="agile_btxt">
                        <a href="#">
                            <span style="color:#008d4c">B</span>eauty
                            <span style="color:#008d4c">C</span>osmetic
                        </a>
                    </h2>
                    <p>
                        © 2018 Beauty Cosmetic. All rights reserved | Design by
                        <a href="http://google.com.vn" class="text-secondary"> TQ.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>